@charset "utf-8";

/* Modo Portrait*/

body{
    background-image: url(../ex006-mediaquiry/pacote-imagens-cap25/cev-portrait.jpg);
    background-position:center bottom;
    background-size: contain;
}