@charset utf-8;
@font-face{
    font-family:"love_larry";
    src:url("love_larry/love larry ttf.ttf") format(truetype);
}
/*RESET CSS*/
*{
    margin:0;
    padding:0;
    border:none;
    box-sizing: border-box;
}
/*Seletor Tag*/
a{
    text-decoration:none;
}
ul{
    list-style: none;
}
body{
    font-family:"love_larry";
    font-size: 16px;
    background-image: linear-gradient(to right,rgb(128, 127, 127),rgb(218, 218, 218));
    height: 100vh;
    width: 100vw;
}
h1{
    font-family:"love_larry";
}