@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    border: none;
}
abbr,a,ul{
    list-style: none;
    text-decoration: none;
}
p{
    font-family: verdana,sans-serif;
    line-height: 1.5em;
    text-indent: 20px;
}
body{
    background-color:gray;
}
.quadrados{
    border:1px solid black;
    width: 200px;
    height: 200px;
    display: inline-block;
    border-radius: 5px;
}
#q1{
background-color:blueviolet;
}
#q2{
background-image:linear-gradient(violet,white);
}
#q3{
background-image:url(imagens-cap19/wallpaper002.jpg);
}