@charset utf-8;
/*Seletor universal*/
*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-size: 100%;
}
:root{
    --cor:silver;
}
body{
    background-color: var(--cor);
}