@charset utf-8;
/*RESET CSS*/
*{
    margin: 0;
    padding: 0;
    border: none;
}
/*Seletor tag*/
body{
    background-color: grey;
}
div{
    background-color: honeydew;
    text-align: center;
    height:200px;
    width:200px;
    display:inline-block;
}
/*Seletor id*/
#d1{
    
}
#d2{

}
#d3{

}
#main{
    display: none;
}
div>p{
    display: none;
}
div:hover>p{
    display: block;
}